# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.venv/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# Editor / IDE
.vscode/
.idea/
*.swp

# Distribution / packaging
build/
dist/
*.egg-info/

# Docker
*.pid

